@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
}

/* 부모가 flex여야 속성값이 먹힌다 */
/* display, position 같은 속성 맨위에 써주기 피드백 반영 */
main {
  display: flex;
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgb(255, 181, 191);
}
.sideBar {
  flex: 1;
}
.burger {
  display: flex;
  flex: 3.5;
  width: 100%;
  /* 줄바꿈 */
  flex-wrap: wrap;
  /* 간격 조정 flex에서 진행해야 한다 */
  gap: 15px;
}
.cart {
  flex: 1.5;
}

/* 헤더 CSS */
header > h1 {
  font-size: 30px;
  padding: 25px;
}

/* 다른거 먹자 CSS */

.sideBar__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin: 0px 20px;
  border-radius: 10px;
  background-color: rgb(203, 250, 250);
}
.sideBar__content ul {
  list-style: none;
  font-size: 13px;
  width: 100%;
}
.sideBar__content li {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  margin: 10px 0px;
  border-radius: 10px;
}
li.mcdonald {
  background-color: rgba(170, 177, 241, 0.966);
}
li.burgerking {
  background-color: rgba(184, 186, 200, 0.966);
}

/* 버거 관련 CSS */
.burger__card {
  display: flex;
  width: 48%;
  margin: 10px 0px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
}
.burger__card:hover {
  background-color: rgb(240, 186, 179);
}
.burger__content {
  padding: 5%;
}

.burger__card > img {
  width: 150px;
}
.burger__desc {
  font-size: 10px;
}

/* 장바구니 CSS */

.cart__content {
  position: sticky;
  top: 20px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(203, 250, 250);
}
.cart__content-wrapper {
  padding: 10px 0px;
  border-bottom: 3px solid white;
}
.cart__list {
  flex: 3;
}

.cart__priceCount::after {
  content: "원";
}
.cart__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.cart__button button {
  padding: 5px;
  margin: 0px 5px;
  border: 0px solid;
  border-radius: 10px;
  background-color: rgba(170, 177, 241, 0.966);
}

/* media쿼리 */
@media (min-width: 1110px) {
  aside#headerSideBar {
    display: none;
  }
}

@media (max-width: 1110px) {
  aside#mainSideBar {
    display: none;
  }
  aside#headerSideBar .sideBar__content {
    position: absolute;
    background-color: transparent;
    width: 80px;
  }
  article.burger__card {
    width: 45%;
    margin-left: 10px;
  }
}

@media (max-width: 940px) {
  article.burger__card {
    width: 95%;
    margin-left: 10%;
  }
}
