* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 부모가 flex여야 속성값이 먹힌다 */
main {
  display: flex;
}
aside.sideBar {
  flex: 1;
}

aside.cart {
  flex: 1.5;
}
section.burger {
  flex: 3;

  width: 100%;
  display: flex;
  /* 줄바꿈 */
  flex-wrap: wrap;
  /* 간격 조정 flex에서 진행해야 한다 */
  gap: 15px;
}
article.burger__card {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  /* 원래는 cal로 조정하는 것인데 야매로  */
  width: 48%;
}
article .burger__content {
  padding: 5%;
}

article.burger__card > img {
  width: 150px;
}
article .burger__desc {
  font-size: 10px;
}

/* 장바구니 CSS */

aside .cart__content {
  position: fixed;
  /* right: 20%; */
  width: 100%;
}

hr {
  width: 20%;
  size: 10px;
}
