@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: rgb(255, 181, 191);
}
